<% if (entry.title) { %>
    <h1><%= title %></h1>
<% } %>

<% if (!entry.title) { %>
    <% include common/tags.ejs %>
<% } %>

<div class="entry">
    <form method="post" enctype="multipart/form-data" action="/entry">
        <p class="ui fluid input">
            <input type="text" name="entry_title" placeholder="主题" class="title" value="<%=entry.title%>"/>
        </p>
        <p>
            <textarea class="textarea" name="entry_body" placeholder="正文"><%=entry.body%></textarea>
        </p>

        <!-- if is case studies -->
        <% if (state.column == 'case') { %>
            <p class="file">
                <span>HOME 首页图:</span>
                <input type="file" name="entry_home"/>
            </p>
            <p class="file">
                <span>Case studies图:</span>
                <input type="file" name="entry_case"/>
            </p>
        <% }%>
        <p>
            <button type="submit" class="ui button blue entry-submit">创建</button>
        </p>
        <input name="entry_type" type="hidden"/>
        <input name="entry_date" type="hidden"/>
        <% if (entry.id) { %>
        <input name="entry_id" type="hidden" value="<%= entry.id %>"/>
        <% } %>
    </form>
</div>

