<div class="ui container">
    <h1>欢迎回来, <%= user.nickname %></h1>
    <p>&nbsp;</p>
    <div class="ui eight cards fast-entry">
        <a class="red card rename-nickname">
            <h2><i class="write icon"></i>更改昵称</h2>
        </a>
    </div>
</div>